/* Master Styles */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,500&display=swap');
body{
    margin: 0px;
    
}
a{
    text-decoration: none;
}
/*img{
    max-width: 100%;
    max-height: 100%;
}*/
.container{
    width:  100%;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1fr; 
    align-items: center;
    justify-content: center;
}
/* Nav Menu */
.nav-bar {
    height: 5px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 38px;
    z-index: 1;
   
}
.logo {
    background: url("images/logo.png") no-repeat;
    width: 100px;
    height: 100px;
    display: block;

}

.right-side {
    display: flex;
    
    
    
}


.nav-bar > .right-side > div {
    
    text-transform: uppercase;
    margin-right: 20px;
    transition: border-bottom 0.5s;
}

.right-side div a {
    color: crimson;
    text-decoration: none;
    transition: color 0.5s;
}


.right-side a:hover {
    color: #1e82f7;
    border-bottom: 1px solid #f7931e;
}

/*HERO Section */
@keyframes hero {
    from {background-color: #fef7ee;}
    to {background-color: #f68a0b;}
}
.hero-section {
    justify-content: space-between;
    height: 95vh;
    margin-top: -80px;
    background: url('images/hero.jpg') no-repeat;
    background-size: cover;
    background-position: relative;
    display: inline-block;
    overflow: auto;
    color: #ffff;
    font-family: 'Ubuntu', sans-serif;
    min-height: 500px;
    padding: 38px;
    
   
}

.home-content {
    margin: 150px 0 auto 40px;
    padding: 68px;
    min-height: 500px;
   
    
}

.hero-section .home-content .text-1{
    font-size: 56px;
}

.hero-section .home-content .text-2{
    font-size: 75px;
    margin-top: -15px;
    margin-left: -3px;
}
.hero-section .home-content .text-3{
    font-size: 30px;
    padding: 90px;
    margin-top: 90px;
    margin-left: 35px;
    text-align: center;
}
 
.hero-section .home-content .text-2 span{
    color: #f7931e;
}

.home-content .btn  {
    
    padding: 10px 30px;
    color: crimson;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.5s ease;
    margin-top: -20px;

}
.btn:hover {
    background-color: #f7931e;
}





