/* Master Styles */
body{
    margin: 0px;
    
}
img{
    max-width: 100%;
    max-height: 100%;
}
.container{
    display: grid;
    grid-template-columns: 1fr; 
}
/* Nav Menu */
.nav-bar {
    height: 5px;
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    padding: 38px;
}
.logo {
    background: url("images/logo.png") no-repeat;
    width: 100px;
    height: 100px;
    display: block;

}

.right-side {
    display: flex;
}


.nav-bar > .right-side > div {
    
    text-transform: uppercase;
    margin-right: 20px;
    transition: border-bottom 0.5s;
}

.right-side > div a {
    color: #af8d66;
    text-decoration: none;
    transition: color 0.5s;
}


.right-side a:hover {
    color: #1e82f7;
    border-bottom: 1px solid #f7931e;
}

/*HERO Section */
@keyframes hero {
    from {background-color: #fef7ee}
    to {background-color: #f68a0b;}
}
.hero-section {
    height: 50vh;
    justify-content: space-between;
    background-color:  #fef7ee;
    display: flex;
    padding: 38px;
   animation: hero 50s infinite alternate;
    
}

.banner {
    padding: 90px;
    
}

.hero-section > .banner > div {
    position: absolute;
    font-size: 45px;
    font-weight: bolder;
    
}

.hero-img > div{
    height: 30vh;
    width: 40vh;
    margin-top: 100px;
    
}





